@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f7f7f7;
    padding: 50px;
    margin: 0;
}

.title {
    font-size: 15px;
    font-weight: 500;
}

.input {
    margin-left: 10px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 7px 10px;
}

.marginRight {
    margin-right: 50px;
}

#board {
    position: relative;
    top: 0;
    left: 0;
    margin: 20px;
}

.pawnInput {
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    padding: 7px 10px;
    width: 60px;
}

#pawnDiv {
    margin: 20px 0;
}

.pawnBtn {
    margin-left: 50px !important;
}

#visualize {
    display: none;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

#result {
    display: none;
}